:root{
    --pink-color: #f2726a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.profile{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    background-color: #242628;
    overflow: hidden;
    margin: 0 30px;
}
.avatar{
    width: 120px;
    height: 120px;
    border: 4px solid var(--pink-color);
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(25px);
    margin: 0 auto;
    transition: 0.25s;
}
.avatar:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: unset;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
h2{
    color: white;
    margin-top: 40px;
}
p{
    color: var(--pink-color);
}
.social a{
    color: white;
    margin: 25px 20px 40px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
}
button{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border: 1px solid var(--pink-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: inherit;
    transition: 0.25s;
}
button:hover{
    background-color: var(--pink-color);
}
@media (max-width:1024px){
    .c-0{
        display: none;
    }
}